<%= stylesheet_link_tag "sign_in.css" %>
		<div id="forgot_container">
			<%= form_tag("forgot_password_attempt") do |f| %>
			<div>
				<h1>Change Password</h1>
			</div>
			<div>
				<h2>Type in your new password below</h2>
			</div>
			<%if !flash[:error].blank?%> 
			<div class="errors">
				<p> <%=flash[:error]%> </p>
			</div>
			<%end%>
			<%if !flash[:notice].blank?%> 
			<div class="notices">
				<p> <%=flash[:notice]%> </p>
			</div>
			<%end%>
			<div>
				<%= text_field_tag(:password, "", placeholder: "Password", :class=>"text_input") %>
				<%= text_field_tag(:password, "", placeholder: "Confirm Password", :class=>"text_input") %>
			</div>
			<div>
				<%= submit_tag("Change Password", :class=>"submit_btn")%>
			</div>
			<%end%>
		</div>
