<%= stylesheet_link_tag "sign_in.css" %>
		<div id="forgot_container">
			<%= form_tag("forgot_password_attempt") do |f| %>
			<div>
				<h1>Reset Password</h1>
			</div>
			<div>
				<h2>We'll send you an email with instructions on how to reset your password.</h2>
			</div>
			<%if !flash[:error].blank?%> 
			<div class="errors">
				<p> <%=flash[:error]%> </p>
			</div>
			<%end%>
			<%if !flash[:notice].blank?%> 
			<div class="notices">
				<p> <%=flash[:notice]%> </p>
			</div>
			<%end%>
			<div>
				<%= text_field_tag(:email, "Email", :class=>"text_input") %>
			</div>
			<div>
				<%= submit_tag("Send Password Reset Email", :class=>"submit_btn")%>
			</div>
			<%end%>
		</div>
