<%=@token%>
<%=@business.errors.inspect%>

<%= stylesheet_link_tag "sign_in.css" %>
<div class="content_container">
		<table>
			<%= form_for(:business, :url => {:action => "forgot_password_attempt"}) do |f| %>
			<tr>
				<td><h1>Forgot Password</h1></td>
			</tr>
			<%if !flash[:error].blank?%> 
			<tr>
				<td class="errors">
					<p> <%=flash[:error]%> </p>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<%end%>
			<%if !flash[:notice].blank?%> 
			<tr>
				<td class="notices">
					<p> <%=flash[:notice]%> </p>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<%end%>
			<tr>
				<tr><p>Enter your email address</p></tr>
			</tr>
			<tr>
				<td><%= f.text_field(:email, :placeholder=>"Email", :class=>"text_input") %></td>
			</tr>
			<tr>
				<td><%= f.submit("Send Password Reset Email", :class=>"submit_btn")%></td>
			</tr>
			<%end%>
		</table>

	</div>
</div>
