<%= stylesheet_link_tag "business.css" %>
<%= javascript_include_tag "profile.js" %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>

<div id="profile_header">
  <div id="header_focus_image">
    <%= image_tag(@business.image.url) %>
  </div>
  <h1><%= Business.find(session[:id]).name %> </h1>
  <%= hidden_field_tag(:latitude, @business.latitude) %>
  <%= hidden_field_tag(:longitude,@business.longitude)%>
</div>
<div id="input">
  <%= error_messages_for(@business) %>
  <table>
    <%= form_for(:business, :url => {:action => "update", :id => @business.id},:html => {:multipart => true}) do |f| %>
    <tr> 

     <td><%= f.label(:name, "Name") %></td> 
     <td><%= f.text_field(:name, :maxlength => 40) %></td>
   </tr>
   <tr> 
     <td><%= f.label(:email, "Email") %></td> 
     <td><%= @business.email %></td>
   </tr>
   <tr> 
     <td><%= f.label(:address, "Address") %></td> 
     <td><%= f.text_field(:address) %></td>
   </tr>
   <tr> 
     <td><%= f.label(:city, "City") %></td> 
     <td><%= f.text_field(:city) %></td>
  <tr>
     <td><%= f.label(:state, "State") %></td> 
     <td><%= f.text_field(:state) %></td>
     <td><%= f.label(:zip, "Zip") %></td> 
     <td><%= f.text_field(:zip, :size => 5, :maxlength => 8) %></td>
  </tr>
  <tr> 
     <td><%= f.label(:country, "Country") %></td> 
     <td><%= f.text_field(:country) %></td>
   </tr>
   </tr>
   <tr> 
     <td><%= f.label(:phone, "Phone") %></td> 
     <td><%= f.text_field(:phone) %></td>
   </tr>
   <tr> 
     <td><%= f.label(:website, "Website") %></td> 
     <td><%= f.text_field(:website) %></td>
   </tr>
   <tr>
    <td><%= f.label(:new_password, "New Password") %></td> 
    <td><%= f.password_field(:new_password, :maxlength => 40) %></td>
  </tr>
  <tr>  
    <td><%= f.label(:new_password_confirmation, "Confirm Password") %></td> 
    <td><%= f.password_field(:new_password_confirmation, :maxlength => 40) %></td>
  </tr>
  <tr> 
   <td><%= f.label(:image, "Image") %></td> 
   <td><%= f.file_field(:image) %></td>
 </tr>
 <tr>
  <td> <%= link_to( button_tag("Save Changes" , :type => "button" , :class => "submit_btn" , :onclick => 'document.getElementById("confirm_field").focus();'), "#confirm") %>
</tr>

<div class="modal_box" id="confirm">
  <div>
    <h3>Confirm Password</h3>
    <p>Please type your password to save changes to your profile.</p>
    <div><%= f.password_field(:old_password, :id => "confirm_field", :maxlength => 40, :autocomplete => "off") %></div>
    <%= f.submit("Confirm", :class => "submit_btn") %>or 
    <button type="button" class="modal_close" onclick="location.href='#'">Cancel</button>
  </div>
</div>
<% end %>
</table>
</div>