
<div id="profile_header">
  <div id="header_focus_image">
    <%= image_tag(@business.image.url) %>
  </div>
  <!--<%= image_tag(@business.image.url , :id => "header_back_image") %>  -->
  <h1><%= @business.name %></h1>
</div>

<div id="info">
  <ul>
    <li><%= @business.email %></li>
    <li><%= @business.address %></li>
    <li><%= "#{@business.city}, #{@business.state}  #{@business.zip}"%></li>
    <li><%= @business.country %></li>
    <li><%= @business.phone %></li>
    <li><%= @business.website%></li>
  </ul>
</div>