<%= stylesheet_link_tag "profile_info_tab.css" %>
<%= stylesheet_link_tag "business_sign_up.css" %>
<%= javascript_include_tag "sign_up.js" %>
  <div id="business_search_container">
    <div id="list_container">

    </div>
  </div>

  <div id="profile_info">
    <%= error_messages_for(@business) %>
    <div id="tabs_container">
      <%= form_for(:business, :url => {:action => "sign_up_attempt"} ,:html => {:multipart => true}) do |f| %>
      <ul id="tab_bar">
        <li class="active">
          <span class="icon"><i class="fa fa-user fa-lg"></i></span>
        </li>
        <li >
          <span class="icon"><i class="fa fa-globe fa-lg"></i></span>
          </li>
        <li >
          <span class="icon"><i class="fa fa-envelope-o fa-lg"></i></span>
          </li>
      </ul>

      <div class="tab" id="general_tab">
        <ul>
          <li><%= f.label(:name, "Name*") %> <%= f.text_field(:name, :maxlength => 40, :class=>"profile_input") %> </li>
          <li><%= f.label(:phone, "Phone") %> <%= f.text_field(:phone, :class=>"profile_input") %> </li>
          <li><%= f.label(:website, "Website") %> <%= f.text_field(:website, :class=>"profile_input") %> </li>
          <li><%= f.label(:tags, "Category*") %>
            <%= f.select(:tags, options_for_select(Tag.all.collect {|t| [t.name, t.id]}), {}, {class: "profile_input"})%>
          </li>
          <li><%= f.label(:subtags, "Sub Category*") %>
            <%= f.select(:subtags, options_for_select(Subtag.all.collect {|t| [t.name, t.id]}), {}, {class: "profile_input"})%>
          </li>
          <li>
          <%= f.label(:image, "Image*") %> <%= f.file_field(:image, :class => "profile_input") %></li>
        </ul>
      </div> 

      <div class="tab" id="location_tab">
        <ul>
          <li><%= f.label(:address, "Address*") %> <%= f.text_field(:address , :class=>"profile_input") %></li>
          <li><%= f.label(:city, "City*") %> <%= f.text_field(:city, :class=>"profile_input") %></li>
          <li><%= f.label(:state, "State*") %> <%= f.text_field(:state , :class=>"profile_input") %></li>
          <li><%= f.label(:zip, "Zip*") %> <%= f.text_field(:zip, :size => 5, :maxlength => 8, :class=>"profile_input") %></li>
          <li>
            <%= f.label(:country, "Country*") %>
            <%= f.select(:country, ["Italia", "United States"], {}, {class: "profile_input"}) %>
          </li>
        </ul>
      </div>


      <div class="tab" id="account_tab">
        <ul>
          <li><%= f.label(:email, "Email*") %> <%= f.email_field(:email , :class=>"profile_input") %></li>
          <li><%= f.label(:password, "New Password*") %> <%= f.password_field(:password, :maxlength => 40, :class=>"profile_input") %></li>
          <li><%= f.label(:password_confirmation, "Confirm Password*") %> <%= f.password_field(:password_confirmation, :maxlength => 40, :class=>"profile_input") %></li>
           <li><%= f.label(:promoter_code, "Promoter Code") %> <%= f.password_field(:promoter_code,:class=>"profile_input") %></li>
        </ul>
      </div>  

      <div class="tab_nav" id="tab_nav_0">
         <%= button_tag("Next" , type: "button" , class: "submit_btn signup_next", data: {nav_id: "#tab_nav_1", tab_id: "#location_tab"}) %>
      </div>

      <div class="tab_nav" id="tab_nav_1">
        <%= button_tag("Back" , type: "button" , class: "submit_btn signup_back", data: {nav_id: "#tab_nav_0", tab_id: "#general_tab"}) %>
         <%= button_tag("Next" , type: "button" , class: "submit_btn signup_next",  data: {nav_id: "#tab_nav_2", tab_id: "#account_tab"}) %>
      </div>

       <div class="tab_nav" id="tab_nav_2">
        <%= button_tag("Back" , type: "button" , class: "submit_btn signup_back",  data: {nav_id: "#tab_nav_1", tab_id: "#location_tab"}) %>
          <%= f.submit("Finish" , class: "submit_btn", id: "signup_finish") %>
      </div>
      
    </div>
    <p class='clear'></p>
  </div>
  <% end %>