<%= stylesheet_link_tag "sign_in.css" %>
<div id="page">
	<div class="content_container">

		<table>
			<%= form_for(:business, :url => {:action => "sign_in_attempt"}) do |f| %>
			<tr>
				<td colspan="2"><h1>Sign In</h1></td>
			</tr>
			<%if !flash[:error].blank?%> 
			<tr>
				<td class="errors" colspan="2">
					<p> <%=flash[:error]%> </p>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<%end%>
			<%if !flash[:notice].blank?%> 
			<tr>
				<td class="notices" colspan="2">
					<p> <%=flash[:notice]%> </p>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<%end%>

			<tr>
				<td colspan="2"><%= f.text_field(:email, :placeholder=>"Email", :class=>"text_input") %></td>
			</tr>
			<tr><td></td></tr>
			<tr>
				<td colspan="2"><%= f.password_field(:password, :placeholder=>"Password", :class=>"text_input") %></td>
			</tr>
			<tr>
				<td><%= f.submit("Sign in", :class=>"submit_btn")%></td>
				<td><%= link_to "Forgot password?", "forgot_password" %></td>
			</tr>
			<tr>
				<td colspan="2"><p>Are you a business owner? <a href="sign_up" style="color: blue">Sign up</a> now!</p></td>
			</tr>
			<%end%>
		</table>

	</div>
</div>