<%= stylesheet_link_tag "signin.css" %>

<div class="content_container">

<h1>Sign In</h1>

<table>
<%= form_for(:business, :url => {:action => "sign_in_attempt"}) do |f| %>
		<%if !flash.empty?%> 
	<tr>
		<td class="errors" colspan="2">
			<p> <%=flash[:notice]%> </p>
		</td>
	</tr>
	<tr>
		<td><br></td>
	</tr>
			<%end%>
	<tr>
		<td colspan="2"><%= f.text_field(:email, :placeholder=>"Email", :class=>"text_input") %></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.password_field(:password, :placeholder=>"Password", :class=>"text_input") %></td>
	</tr>
	<tr>
		<td><%= f.submit("Sign in", :class=>"submit_btn")%></td>
		<td><%= link_to "Forgot password?", "#" %></td>
	</tr>
	<tr>
		<td colspan="2">Are you a business owner? <a href="sign_up" style="color: blue">Sign up</a> now!</td>
	</tr>
<%end%>
</table>

</div>