<%= stylesheet_link_tag('offers.css')%>
<div id="search_page">
<div class="info_bar" style="display: <%= display %>">
			<div class="info_bar_content">
				<h1>Benvenuti a Batefy</h1>
				<p>Ricorda! L’adesione ed il download dello sconto non ti vincola all’utilizzo. Solo SE ti recherai dal commerciante durante il periodo di validità dell’offerta potrai usufruire dello sconto.<br> 
				<b>PRENOTAZIONE:</b> l’adesione all’offerta non costituisce né sostituisce la prenotazione nel caso di Attività Commerciali che tipicamente la richiedano (es. ristoranti, centri benessere). Il consumatore è a tutti gli effetti nella stessa posizione contrattuale di un qualsiasi altro consumatore non in possesso dello sconto.<br>
				Per ottenere maggiori informazioni, visita la pagina
				<%= link_to "COME FUNZIONA", {controller:"pages", action:"show", page:"about"} , class: cp("/pages/show?page=about") %></p>
			</div>
	</div>
<ul id="grid">
	<% if @offers.blank? %>
	<%= "No offers to display" %>
	<% else %>
	<% @offers.each do |offer| %>
	<li>
		<figure>
			<div class="percent_label <%= offer.percentage.to_words %>">
				<h2><%= offer.percentage %>%</h2>
			</div>
			<%= image_tag(offer.business.image.url) %>
			<figcaption>
				<h3><%= link_to(offer.business.name, {controller: 'business', action: 'show', id: offer.business.id}) %></h3>
				<% date = offer.offer_dates.last %>
				<% start_time = Time.at(date.start_time) %>
				<% end_time = Time.at(date.end_time) %>
				<p> <%= start_time.hour %>:<%= format('%02d',start_time.min) %> - 
				<%= end_time.hour %>:<%= format('%02d',end_time.min) %></p>
				</figcaption>
			</figure>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>