<%= stylesheet_link_tag('offers.css')%>
<%= javascript_include_tag "offers.js" %>
<%= javascript_include_tag "maps.js" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>

<% time_zone="Rome"%>
<div id="search_page">
<div class="info_bar" style="display: <%= display %>">
			<div class="info_bar_content">
				<h1>Benvenuti a Batefy</h1>
				<p>Ricorda! L’adesione ed il download dello sconto non ti vincola all’utilizzo. Solo SE ti recherai dal commerciante durante il periodo di validità dell’offerta potrai usufruire dello sconto.<br> 
				<b>PRENOTAZIONE:</b> l’adesione all’offerta non costituisce né sostituisce la prenotazione nel caso di Attività Commerciali che tipicamente la richiedano (es. ristoranti, centri benessere). Il consumatore è a tutti gli effetti nella stessa posizione contrattuale di un qualsiasi altro consumatore non in possesso dello sconto.<br>
				Per ottenere maggiori informazioni, visita la pagina
				<%= link_to "COME FUNZIONA", {controller:"pages", action:"show", page:"about"} , class: cp("/pages/show?page=about") %></p>
			</div>
	</div>
<ul id="grid">
	<% if @offers.blank? %>
		<%= "No offers to display" %>
	<% else %>
		<% @offers.each do |offer| %>
			<li>
				<%= render(partial: "/offers/offer", locals: {offer: offer, latitude: "", longitude: "", time_zone: time_zone}) %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>