<%= stylesheet_link_tag "profile_info_tab.css" %>
<%= stylesheet_link_tag "profile.css" %>
<%= javascript_include_tag "user_profile.js" %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>

<div id="profile_header">
  <div id="header_focus_image">
    <% image_url = @user.image.url == "/images/original/missing.png
    General" ? "profile_default.png" : @user.image.url %>
    <%= image_tag(image_url)%>
  </div>
</div>
<div id="profile_info">
  <%= error_messages_for(@user) %>
  <div id="tabs_container">
    <%= form_for(:user, :url => {:action => "profile_update", :id => @user.id},:html => {:multipart => true}) do |f| %>
    <ul id="tab_bar">
      <li class="active" data-id="#general_tab">
          <span class="icon"><i class="fa fa-user fa-lg"></i></span>
        </li>
        <li data-id="#location_tab">
          <span class="icon"><i class="fa fa-globe fa-lg"></i></span>
          </li>
        <li data-id="#account_tab">
          <span class="icon"><i class="fa fa-envelope-o fa-lg"></i></span>
          </li>
    </ul>

    <div class="tab" id="general_tab">
      <ul>
        <li><%= f.label(:name, "Name") %> <%= f.text_field(:name, :maxlength => 38, :class=>"profile_input") %> </li>
        <li><%= f.label(:phone, "Phone") %> <%= f.text_field(:phone, :class=>"profile_input") %> </li>
        <li><%= f.label(:website, "Website") %> <%= f.text_field(:website, :class=>"profile_input") %> </li>
        <li><%= f.label(:image, "Image") %> <%= f.file_field(:image, :class => "profile_input") %></li>
      </ul>
    </div>   

    <div class="tab" id="location_tab">
      <ul>
        <li><%= f.label(:address, "Address") %> <%= f.text_field(:address , :class=>"profile_input") %></li>
        <li><%= f.label(:city, "City") %> <%= f.text_field(:city, :class=>"profile_input") %></li>
        <li><%= f.label(:state, "State") %> <%= f.text_field(:state , :class=>"profile_input") %></li>
        <li><%= f.label(:zip, "Zip") %> <%= f.text_field(:zip, :size => 5, :maxlength => 8, :class=>"profile_input") %></li>
        <li>
          <%= f.label(:country, "Country") %>
          <%= f.select(:country, ["Italia", "United States"], {}, {class: "profile_input"}) %>
        </li>
      </ul>
    </div>

    <div class="tab" id="account_tab">
      <ul>
        <li><%= f.label(:email, "Email") %> <div class="profile_input"><%= @user.email %></div></li>
        <li><%= f.label(:new_password, "New Password") %> <%= f.password_field(:new_password, :maxlength => 40, :class=>"profile_input") %></li>
        <li><%= f.label(:new_password_confirmation, "Confirm Password") %> <%= f.password_field(:new_password_confirmation, :maxlength => 40, :class=>"profile_input") %></li>
      </ul>
    </div>
      <%= button_tag("Save Changes" , type: "button" , class: "submit_btn", id: "profile_submit") %>
      <p class="clear"></p>
  </div>


<div class="modal_box" id="confirm">
  <div>
    <h3>Confirm Password</h3>
    <p>Please type your password to save changes to your profile.</p>
    <div><%= f.password_field(:old_password, :id => "confirm_field", :maxlength => 40, :autocomplete => "off") %></div>
    <%= f.submit("Confirm", :class => "submit_btn") %>or 
    <button type="button" id="modal_close">Cancel</button>
  </div>
</div>
<% end %>
</table>
</div>