<%= stylesheet_link_tag "user_sign_up.css" %>
	<div class="content_container">
		<table>
		<%= error_messages_for(@user) %>
		<%= form_for(:user, :url => {:action => "sign_up_attempt"}, 
			:html => {:multipart => true}) do |f| %>
         <tr>
        <td><h1>Sign Up</h1></td>
        </tr>
  				<tr> 
  					<td><%= f.text_field(:name, placeholder: "Full Name", maxlength: 40, class: "text_input") %></td>
  				</tr>
          <tr> 
            <td><%= f.text_field(:email,  placeholder: "Email", :maxlength => 40, :class=>"text_input") %></td>
          </tr>  
  				<tr> 
  					<td><%= f.password_field(:password,  placeholder: "Password", :maxlength => 40,:autocomplete => "off", :class=>"text_input") %></td>
  				</tr> 				
          <tr> 
  					<td colspan="2"><%= f.submit("Sign Up", :class=>"submit_btn") %></td>
  				</tr>
		<% end %>
		
		</table>
	</div>