<div id="subtag_bar">
	<% if !subtags.blank? %>
		<% subtags.each do |subtag|%>
			<%= link_to("#{subtag.name}", fetch_businesses_path(:subtag_id=> subtag.id), :remote => true)%>
		<% end %>
	<% end %>
</div>
<% if offers.blank? %>
	<%= "No offers to display" %>
<% else %>
	<% offers.each do |offer| %>
	<li>
	    <figure>
	    	<% color = {20 => "#48C48F" , 30 => "#2D855F", 40 => "#216447",50 => "#1C543C"} %>

	    	<div class="percent_label" style=<%= "border-top-color:#{color[offer.percentage]}" %>>
	    		<h2 ><%= offer.percentage %>%</h2>
	    	</div>
	        <%= image_tag(offer.business.image.url) %>
	        <figcaption>
	            <h3><%= offer.business.name %></h3>
	            <% date = offer.offer_dates.last %>
	            <% start_time = Time.at(date.start_time) %>
	            <% end_time = Time.at(date.end_time) %>
	            <p> <%= start_time.hour %>:<%= start_time.min %>0</p>
	            <p> <%= end_time.hour %>:<%= end_time.min %>0</p>
	            <%= link_to("Get Offer", "#") %>
	            <%= link_to("Business Profile", {:controller => "business", :action => "show", :id => offer.business}) %>
	        </figcaption>
	    </figure>
	</li>
	<% end %>
<% end %>