<% if offers.nil? %>
	<%= "No offers to display" %>
<% else %>
	<% offers.each do |offer| %>
	<li>
	    <figure>
	    	<% color = {20 => "#48C48F" , 30 => "#2D855F", 40 => "#216447",50 => "#1C543C"} %>

	    	<div class="percent_label" style=<%= "border-top-color:#{color[offer.percentage]}" %>>
	    		<h2 ><%= offer.percentage %>%</h2>
	    	</div>
	        <%= image_tag(offer.business.image.url) %>
	        <figcaption>
	            <h3><%= offer.business.name %></h3>
	            <p><%= offer.business.address %></p>
	            <p><%= "#{offer.business.city}, #{offer.business.state} #{offer.business.zip}" %> </p>
	            <p><%= offer.business.phone %></p>
	            <%= link_to("Get Offer", "#") %>
	            <%= link_to("Business Profile", {:controller => "business", :action => "show", :id => offer.business}) %>
	        </figcaption>
	    </figure>
	</li>
	<% end %>
<% end %>