<div id="search_page" >
	<div id="filter_bar">
		<div id="tag_bar">
			<% Tag.all.find_each do |tag| %>
			<%= link_to("#{tag.name}", fetch_businesses_path(search: search, tag_id: tag.id, subtag_id: nil), :remote => true, class: "search_button") %>
			<% end %>
		</div>
		<div id="search_bar">
			<%= hidden_field_tag(:tag_id, tag_id) %>
			<%= hidden_field_tag(:subtag_id, subtag_id) %>
			<%= hidden_field_tag(:search, search) %>
			<%= link_to("Search", fetch_businesses_path(), :remote => true, id: "search_field_button", class: "search_button") %>
			<%= search_field_tag(:search, search, {placeholder: "City, State", id: "search_field"} ) %>
		</div>
		<p class="clear" ></p>
	</div>
	<ul class="grid">
		<% if offers.blank? %>
		<%= "No offers to display" %>
		<% else %>
		<% offers.each do |offer| %>
		<li>
			<figure>
				<div class="percent_label <%= offer.percentage %>">
					<h2><%= offer.percentage %>%</h2>
				</div>
				<%= image_tag(offer.business.image.url) %>
				<h3><%= offer.business.name %></h3>
				<figcaption>
					<% date = offer.offer_dates.last %>
					<% start_time = Time.at(date.start_time) %>
					<% end_time = Time.at(date.end_time) %>
					<p> <%= start_time.hour %>:<%= format('%02d',start_time.min) %></p>
					<p> <%= end_time.hour %>:<%= format('%02d',end_time.min) %></p>
					<%= link_to("Get Offer", "#") %>
					<%= link_to("Business Profile", {:controller => "business", :action => "show", :id => offer.business}) %>
				</figcaption>
			</figure>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>
