<%= hidden_field_tag(:latitude, latitude) %>
<%= hidden_field_tag(:longitude, longitude) %>
<% tag_name = Tag.find_by_id(tag_id).nil? ? "" : Tag.find_by_id(tag_id).name%>
<% subtag_name = Subtag.find_by_id(subtag_id).nil? ? "" : Subtag.find_by_id(subtag_id).name %>
<div id="grid_header">
	<h2>Offers</h2>
	<h3><%= tag_name.empty? ? "Nearby" : "#{tag_name}" %><u><%= subtag_name.empty? ? "" : " > " %></u><%= subtag_name%></h3>
</div>
<% if offers.blank? %>
	<h4><%= "No offers to display" %></h4>
<% else %>
	<% offers.each do |offer| %>
		<li>
			<%= render(partial: "offer", locals: {offer: offer, latitude: latitude, longitude: longitude, time_zone: time_zone}) %>
		</li>
	<% end %>
<% end %>