<%= stylesheet_link_tag "offers.css" %>
<%= javascript_include_tag "offers.js" %>
<%= javascript_include_tag "maps.js" %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>

<div id="search_page" >
	<div id="filter_bar">
		<div id="tag_bar">
			<% Tag.all.find_each do |tag| %>
			<%= link_to("#{tag.name}", "#", data: {tag_id: tag.id, subtag_id: ''}, class: "search_button") %>
			<% end %>
		</div>
	</div>
	<div id="position_map"></div>
	<%= render(partial: "results", locals: {offers: @offers, tag_id: @tag_id, subtag_id: @subtag_id, latitude: @latitude, longitude: @longitude}) %>

</div>