<%= stylesheet_link_tag "offers.css" %>
<%= javascript_include_tag "offers.js" %>
<%= javascript_include_tag "maps.js" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>

<div id="search_page">
	<div id="position_map_modal">
		<div>
			<h3>Current Location</h3>
			<div id="map_close">Done</div>
			<div id="position_map"></div>
			<p>Double Click to Select a Location</p>
		</div>
	</div>
	<div id="filter_container">
		<div id="filter_box">
			<h2>I'd like offers for...</h2>
			<div id="tag_bar">
				<% Tag.find_each do |tag| %>
				<div class="search_button tag_button" data-tag-id="<%= tag.id %>"><%=tag.name%></div>
				<% end %>
			</div>

			<% Tag.find_each do |tag| %>
			<div class="subtag_bar" id="subtag<%= tag.id %>" style="display: none;">
			<div class="subtag_header_ctn">	
				<div class="tag_close"><i class="fa fa-angle-left fa-lg"></i></div>
				<h3><%= tag.name %></h3>
			</div>
			<% tag.subtags.find_each do |subtag| %>
				<div class="search_button subtag_button" data-tag-id="<%= tag.id %>" data-subtag-id="<%= subtag.id %>"><%= subtag.name%></div>
				<% end %>
			</div>
		<% end %>
		
		</div>
		<div id="map_tab">
			<div>
				<i class="fa fa-map-marker fa-2x"></i><br>
				Change Location
			</div>
		</div>

	</div>
	<%= render(partial: "results", locals: {offers: @offers, tag_id: @tag_id, subtag_id: @subtag_id, latitude: @latitude, longitude: @longitude}) %>

</div>