<% if is_user_signed_in %>
	<div id="new_offer"> 
		<%= render(template: "offers/new") %>
	</div>
<% end %>
<div id="filter_bar">
	<h2>Filter</h2>
	<%= form_for("/offers", remote: true) do |f| %>
		<%= f.label(:percentage) %>
	<% end %>
<div>
<br>
<%= link_to("load none", fetch_businesses_path, :remote => true) %>
<br>
<p>
	<% if Offer.all.count == 0 %> 
		<%= "No offers to show." %>
	<% else %>
		<%= "Total offers loaded: #{Offer.all.count}" %>
	<% end %>
</p>
	<% @offers = Offer.all %>
	<ul class="grid">
		
		<%= render(partial: "results", locals: {offers: @offers}) %>
	</ul>
</div>

lat,long, category
