<%= stylesheet_link_tag "manage" %>

<% offers_dates = {} %>
<% @business.offers.each do |offer| %> 
	<% offer_date = offer.offer_dates.last %>
	<% offer_day = Time.at(offer_date.start_time).beginning_of_day.to_i %>
	<% offers_dates[offer_day].blank? ? offers_dates[offer_day] = [offer.id] : offers_dates[offer_day] << offer.id %>  
<% end %>

<table>
<th></th><th>Time Start</th><th>Time end</th><th>Percentage</th><th>Action</th>	
<% time=Time.now %>
<br><h2><%= time.strftime('%B') %></h2>
<% numDaysLeftInMonth= Time.days_in_month(time.month,time.year)-time.yesterday.day %>
<% numDaysLeftInMonth.times  do	%>
	<tr>
	<%= form_for(:offer, :url=>{:action=>"create"}) do |f| %>
		<%= f.hidden_field(:year, value: time.strftime('%Y')) %>
		<%= f.hidden_field(:month, value: time.strftime('%m')) %>
		<%= f.hidden_field(:day, value: time.strftime('%d')) %>
		<td><h3><%= time.day %></h3><h4><%= time.strftime('%A') %></h4></td>
		<td>
		<%= f.time_select(:time_start, {ignore_date: true, minute_step: 30}) %>
		</td>
		<td>
		<%= f.time_select(:time_end, {ignore_date: true, minute_step: 30}) %>
		</td>
		<td>
		<%= f.select(:percentage, options_for_select((20..50).step(10).to_a.map {|p| "#{p}%"} )) %>
		</td>
		<td>
		<%= f.submit("Create") %>
		</td>
	<% end %>
	</tr>
	
	<% if (offers=offers_dates[time.beginning_of_day.to_i]) %>
		<% offers.each do |offer_id| %>
			<tr>
			<% offer = Offer.find(offer_id) %>
			<% offer_date = offer.offer_dates.last %>
			<% start_time = Time.at(offer_date.start_time) %>
			<% end_time = Time.at(offer_date.end_time) %>
			<td></td>
			<td><%= start_time.hour %>:<%= start_time.min %></td>
			<td><%= end_time.hour %>:<%= end_time.min %></td>
			<td><%= offer.percentage.to_s+'%'%></td>
			<tr>
		<% end %>
	<% end %>

	<% time = time.tomorrow %>
<% end %>
</table>
