<%= stylesheet_link_tag "/assets/stylesheets/manage" %>
<%= javascript_include_tag "manage" %>s
<% if !flash[:notice].blank? %>
	<div> <%= flash[:notice] %> <div>
<% end %>

<% offers_dates = {} %>
<% @business.offers.each do |offer| %>  
	<% offer_date = offer.offer_dates.last %>
	<% offer_day = Time.at(offer_date.start_time).beginning_of_day.to_i %>
	<% offers_dates[offer_day].blank? ? offers_dates[offer_day] = [offer.id] : offers_dates[offer_day] << offer.id %>  
<% end %>

<% time=Time.now %>
<% month = Time.now.month %>

<% 6.times do |i| %>

<h2><%= time.strftime('%B') %></h2>
<table>
	<th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th>

	<% while time.day < Time.days_in_month(time.month, time.year)  do %>

		<tr>
		<% time.wday.times do  %>
			<td></td>
		<% end %>
		<% (7-time.wday).times do %>
			<td class="day_trigger"> <%= time.day %></td>
			<div class="day">
				Whatever!
			</div>
			<% if time.day >= Time.days_in_month(time.month, time.year) %>
				<% break %>
			<% end %>

			<% time = time.tomorrow %>
		<% end %>
		
		</tr>
	<% end %>
</table>
	<% time = time.tomorrow %>
<% end %>
