<div class="dropdown_container" title="<%= Business.find(session[:business_id]).name %>">
	<%= image_tag(Business.find(session[:business_id]).image.url, :alt => "profile image", :id => "profile_image") %>
	<div class="profile_name"><%= Business.find(session[:business_id]).name.truncate(16) %></div>
	<ul class="dropdown_items">
		<li class="manage_btn last"><%= link_to("Manage Offers", {:controller=>"offers", :action=>"manage"}) %></li>
		<li><%= link_to("Profile", {:controller => "business", :action => "profile"}, :title => "View/Edit your profile") %>
		</li>
		<li><%= link_to "About", {:controller=>"pages", :action =>"show", :page => "about"} , class: cp("/pages/show?page=about")%>
		</li>
		<li><%= link_to("Sign Out", {:controller=>"sign_in_out", :action => "sign_out"}) %>
		</li>
	</ul>
</div>