<div class="dropdown_container" title="<%= Business.find(session[:business_id]).name %>">
	<%= image_tag(Business.find(session[:business_id]).image.url, :alt => "profile image", :id => "profile_image") %>
	<%= Business.find(session[:business_id]).name.truncate(18) %>
	<ul class="dropdown_items">
		<li class="manage_btn last"><%= link_to("Manage Offers", {:controller=>"offers", :action=>"manage"}) %></li>
		<li><%= link_to("Profile", {:controller => "business", :action => "profile"}, :title => "View/Edit your profile") %>
		</li>
		<li><%= link_to("Sign Out", {:controller=>"business", :action => "sign_out"}) %>
		</li>
	</ul>
</div>