<div class="dropdown_container" title="<%= User.find(session[:user_id]).name %>">
	 <% image_url = User.find(session[:user_id]).image.url == "/images/original/missing.png
    General" ? "profile_default.png" : User.find(session[:user_id]).image.url %>
	<%= image_tag(image_url, :alt => "", :id => "profile_image") %>
	<div class="profile_name"><%= User.find(session[:user_id]).name.truncate(18) %></div>
	<ul class="dropdown_items">
		<li><%= link_to("Profile", {controller: "user", action: "profile"}, title: "View/Edit your profile") %>
		</li>
		<li><%= link_to "My Offers", {controller: "user", action:"my_offers"} , class: cp("myoffers")%>
		</li>
		<li><%= link_to "About", {:controller=>"pages", :action =>"show", :page => "about"} , class: cp("/pages/show?page=about")%>
		</li>
		<li><%= link_to("Sign Out", {:controller=>"sign_in_out", :action => "sign_out"}) %>
		</li>
	</ul>
</div>