<!DOCTYPE html>
<html>
<head>
	<title>iOffer</title>
	<%= javascript_include_tag 'jquery', 'application' %>
	<%= stylesheet_link_tag('application', :media => 'all') %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Raleway:500,400,300'" %>
	<%= favicon_link_tag('ba.png')%>
</head>
<body>
	<header>
		
		<%= render(partial: "layouts/mobile_menu") %>
		<%= render(partial: "layouts/desktop_menu") %>

	</header>

	<main>
		<%= yield %>
	</main>


</body>
</html>



