<!DOCTYPE html>
<html>
<head>
	<title>iOffer</title>
	<%= javascript_include_tag('application') %>
	<%= stylesheet_link_tag('application', :media => 'all') %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cabin" %>
</head>
<body>
	<header>
		<%= link_to(image_tag("logo.png", :size => "250x75", :alt => "logo") , {:controller => "offers", :action => "index"}, :id => "logo") %>
		
		<% if is_user_signed_in %>

		<div id="profile_button">
			<ul id="dd">
				<li><%= link_to(image_tag(Business.find(session[:id]).image.url, :alt => "profile image", :id => "profile_image") + "#{truncate(Business.find(session[:id]).name , length: 20)}", "#dd", :id => "ddtop") %>
				</li>
				<li>
					<%= link_to("Profile", {:controller => "business", :action => "profile"}, :title => "View/Edit your profile") %>
				</li>

				<li><%= link_to("Sign Out", {:controller=>"business", :action => "sign_out"}) %></li>
			</ul>
			
		</div>
		<% else %>
		<%= link_to("Sign in", {:controller => "business", :action => "sign_in"}, :method => "get", :id => "sign_in") %>
		<% end %> 
	</header>

	<main>
		<%= yield %>
	</main>

	
</body>
</html>



