<!DOCTYPE html>
<html>
<head>
	<title>Batefy</title>
	<%= javascript_include_tag 'jquery', 'application' %>
	<%= stylesheet_link_tag('application', :media => 'all') %>
	<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway:500,400,300'" %>
	<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %>
	<%= favicon_link_tag('ba.png')%>
</head>
<body>
	<header>
		
		<%= render(partial: "layouts/mobile_menu") %>
		<%= render(partial: "layouts/desktop_menu") %>

		<div id="spinner"><%= image_tag("spinner.gif") %><div>
	</header>

	<main>
		<%= yield %>
	</main>


</body>
</html>



